*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   
    font-family: 'Lato', sans-serif;
    background-color: rgb(224, 221, 221);
    
}

.theme {
    
    margin:20px auto;
}

.loggedin {

    text-align: right;

}

p#timestamp {

    text-align: right;
    margin-bottom: 0;
    color: rgb(218, 214, 214);
    text-decoration: underline;
    text-decoration-color: #fe1858;
}


/* HEADER */


.black-header{
    background-color: #0e0e0e;
    
}
/* ANIMATION SEARCH BAR */
.search-div{
    width: 50%;
    transition-property: width;
    transition: all 1s;
}

.search {

    left: 43%;

}

#search-button {

    color: white;

    background-color: #fe1858;
}

#search-button:hover {

    cursor: default;    

}

.search-div:hover {
    width: 100%;
}
/* border radius on register and login buttons */
.regbtn {
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    
}

.logbtn {
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
}
.logoutbtn {
    border-radius: 30px;
    
}
.logoutbtn:hover {
    background-color: #ffffff; color:rgb(165, 162, 162);
}
.regbtn, .logbtn {
    background-color: #ffffff; color:rgb(165, 162, 162);
    border:none;
    padding: auto 20px;
}
.regbtn:hover, .logbtn:hover {
    background-color: #fe1858;
    color:#ffffff;
}
.first-row{
    margin-top: 25px;
    text-align: right;
    position: absolute;
    right: 18%;
}
.search-icon {
    color:#ffffff;
    background-color:#0e0e0e ;
    border:none;
    border-top-left-radius:30px !important;
    border-bottom-left-radius:30px !important;
}
.search-icon:hover {
    background-color:#fe1858 !important;
   
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 80%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* NAVIGATION */
ul {
    width:91%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu a {
    color:#ffffff !important;
    font-weight:bold;
    text-decoration: none;
    text-align: center;
}

li{
    display: block;
    text-align: center;
}
li:hover{
    background-color:#fe1858 !important;
   
}
.nav-mobile{
    background-color: #0e0e0e;
    color:#ffffff;
}
/* DASHBOARD */
.user-image-div, .user-image-img {
    width:80%;
    height:auto;
    margin: 20px auto; 
    text-align: center;
    display: block;
}
.dash-background {
    background-color:rgb(224, 221, 221) ;
    padding-top:30px;
    padding-bottom:50px;
}
#collapseOne button, #collapseThree button {
    margin-bottom:10px;
}
.btn-article {
    width:45%;
    margin-bottom:20px;
}
.danger {
    margin-left:25%;
    margin-right:auto;
}
.card-header {
    margin-bottom: 20px !important;
}
/* ADMIN NEW ARTICLES */
.admin-form {
   margin:50px auto;
   background-color:rgb(224, 221, 221) ;
   padding:40px 20px;
}


.photo:after, .article-text:after {
    content: '';
    display: block;
    clear: both;
}

.height {

    line-height: 3.5;

}

.photo img {
    object-position: contain;
    height: 300px;
    max-height: 300px;
    width: 100%;
    display: block;
}
.article-text {
    width:10rems;
    height:250px;
    max-height: 250px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.environment h3 {
color:#00963f;
text-align: center;
border-top:5px solid #00963f;
margin-top:15px;
}
.environment h6 {
    color:#00963f; 
    text-align: center;
    margin-top:15px;
    }
.science h3 {
color:#7d6eb1;
text-align: center;
border-top:5px solid #7d6eb1;
margin-top:15px;
}

.science h6 {
    color:#7d6eb1;
    text-align: center;
    margin-top:15px;
    }
.world h3 {
color:#da7203;
text-align: center;
border-top:5px solid #da7203;
margin-top:15px;
}
.world  h6 {
color:#da7203;
text-align: center;
margin-top:15px;
}
.sports h3 {
color:#008cd3;
text-align: center;
border-top:5px solid #008cd3;
margin-top:15px;
}
.sports  h6 {
color:#008cd3;
text-align: center;
margin-top:15px;
}
.technology h3 {
color:#e40311;
text-align: center;
border-top:5px solid #e40311;
margin-top:15px;
}
.technology  h6 {
color:#e40311;
text-align: center;
margin-top:15px;
}
.art h3 {
color:#e5007e;
text-align: center;
border-top:5px solid #e5007e;
margin-top:15px;
}
.art  h6 {
color:#e5007e;
text-align: center;
margin-top:15px;
}
.music h3 {
color:darkgoldenrod;
text-align: center;
border-top:5px solid darkgoldenrod;
margin-top:15px;
}
.music  h6 {
color:darkgoldenrod;
text-align: center;
margin-top:15px;
}
.politics h3 {
color:#ea00ff;
text-align: center;
border-top:5px solid #ea00ff;
margin-top:15px;
}
.politics  h6 {
color:#ea00ff;
text-align: center;
margin-top:15px;
}

.white {

    background-color: rgb(255, 255, 255);

}
.home-big-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: black !important;
}
.home-article {

    color: black !important;
}
.date {
    text-align: center;
    color: black !important;
    font-weight: bold;
    
}
.small-articles {
    
    margin-top: 30px;
    border:black solid 2px;
    background-color: rgb(255, 255, 255);
}

.img-thumbnail {

    object-fit: contain;
    height: 20rem;

}

.small-photo img {
   
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
     
}
.home-small-title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black !important;
    
}
.environment, .science, .world, .sports, .technology, .art, .music, .politics {
    margin-bottom:50px;
}
.environment, .science {
    margin-top:40px;
}
/* ARTICLES */
.page-place{
    height:100px;
    background-color: #252525;
    margin-top: 40px;
}

.page-title {
    color: #fe1858;
    text-transform: capitalize !important;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 40px;
}


.article-container{
    background-color: #ffffff;
}
.articles {
    padding-top: 30px;
    
}
.country, .article-title {
    color:#0e0e0e;

}
.article-title{
    margin-bottom: 30px;
}
.article-image{
    text-align: center;
margin-top:10px;
margin-left:-20px !important;

}

.relpost1, .relpost2, .relpost3 {
    display:inline;
   margin:10px;
   padding:0;
}
.margin-top{
    margin-top:20px;
}
.margin-top1{
    margin-top:35px;
}
.margin-top2{
    margin-top:50px;
}
.margin-bottom {
    margin-bottom: 40px;
}
.margin-right {
    margin-right:5px;
}
hr {
    border: solid 2px #fe1858;
    
}
.hr2 {
    border: solid 1px gray;
}
p {
    text-align: justify;
}

p.home-article {

    overflow: hidden;
    text-overflow: ellipsis;

}

p.article {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black !important;

}
.fit {

    object-fit: contain;
    height: 8rem;
    padding: 5%;

}

.related {
    margin-top:20px;
    
}
.related img {
    max-width: 25%;
    height:auto;
}
.rel-posts {
    margin-bottom: 10px;
}
.popular img {
    width:100%;
    height:auto;
    
}
.text-size{
    font-size:0.7rem;
}
.image-big {
  margin-top:20px;
  margin-bottom:10px;
}

.text-big {
border:2px solid #fe1858;
padding:10px;
padding-bottom:50px;
background-color: white;
}

.border-article{
    border:black solid 1px;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom: 20px;
}
.small-articles-category {
    margin:15px auto;
   
}

/* CONTACT */

.map {
    margin-top:30px;
    border: 1px solid black;
}
.red {
    color:#fe1858;
    padding-top: 30px;
    font-size:30px;
    font-weight:bolder;
}
.margin-top2 u {
    color: darkgoldenrod;
}
/* LOGIN - REGISTER */
h1 {
    color:#fe1858;
    text-align: center;
    padding-top: 40px;
}

.login, .register {
    background-color:rgb(224, 221, 221) ;
    padding-top:40px;
    padding-bottom:40px;
}
.remember-me {
    margin-bottom: 20px;
}
.not-member {
    margin-top: 20px;
    padding-bottom: 50px;
}
.relative {
    position: relative;
}
.icon {
position: absolute;
top:45px;
left:-10px;
}
.reg-row {
    margin-bottom:20px;
}
/* ABOUT US */
.aboutus {
    background-color: rgb(224, 221, 221);
    padding-top:40px;
    padding-bottom:20px;
    border-radius :20px;
    margin-top: 30px; 
    margin-bottom: 20px;
    
}
a.nav-link {

    font-size: 1.1rem !important;

}
.aboutus p {
    padding-left:15px;
    padding-right:15px;
}
.team{
    text-align: left;
    font-weight: bold;
    color:#ffffff;
    background-color: #fe1858;
    padding:10px;
    border-radius: 50px;
    margin: 20px auto;
}
.team1 {

    text-align: center;
    font-weight: bold;
    color:#ffffff;
    background-color: #fe1858;
    padding:10px;
    border-radius: 50px;
    margin: 20px auto;

}
.margin-top2 u {
    color: #fe1858;
}

#profile-image-button {

    margin-bottom: 12px;

}

#middle-button {

    display: flex;
    justify-content: center;
    

}

img.float-left {

    margin-left: 15%;

}

.team-member h5 {
    text-align: center;
    color:#252525;
    font-weight: bold;
    
}
.team-member img {
    display: block;
    margin: 20px auto;
    width: 50%;
    border-radius:100px;
    box-shadow: 5px 5px 15px #252525;
    background-attachment: fixed;
}
.bottom {
    margin-bottom:40px;
}
/* FOOTER */

.footer-info img {    /* ΠΡΩΤΗ  */
    width:300px;
}

.footer-middle {
    padding-top: 25px;
    padding-bottom: 15px;
}
span, span a{
    color:#fe1858;
}
.footer-bottom{
    background-color: black;
    color:#ffffff;
    padding: 20px;
    text-align: center;
    
}
footer p{
    text-align: justify;
    font-size: 0.8rem;
}
.footer-middle{
    background-color: #252525;
    color:#ffffff;
}
.footer-middle a:hover {
    color:#fe1858;
}
.footer-top{
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #fe1858;
    color:#ffffff;
}
#search-2{
    margin-top:20px;
}

.search-result-li {

    left: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fe1858;
    z-index: 100;

}

.search-result-li:hover {

    color: white !important;

}
a:hover {
    text-decoration: none;
}
.copy{
    text-align: left;
}

/* MENU ANIMATION */

.menu-animation:hover {
    animation: menu-animation linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    border-radius:15px;
  }

  .alert-success, .alert_danger {

    text-align: center;
    width: 100%;

  }

  .no-height {

    height: auto !important;

  }


  
  @keyframes menu-animation{
    0% {
      transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
      transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
      transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
      transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
      transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
      transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}

@media only screen and (max-width: 768px) {

   * {
        font-size: .8rem;

    }

    .photo img {
        
        height: 200px;
        max-height: 200px;
       
    }

    .first-row {

        position: static;

    }

    .article-text {
        width:10rems;
        height:200px;
        max-height: 200px;
      
    }
    .articles {
        padding-top: 15px;
    }
  .article-title {
      padding-top: 15px;
      margin-bottom: 15px;
  }
  .margin-top2 {
      margin-top:30px;
  }

 .footer-info img {
     width:150px;
     display:block;
     margin: 10px auto;
 }
.copy {
    font-size: 10px;
}
.footer-info2 {
    width:45%;
 float:left;
}
.footer-info3 {
    width:45%;
    word-break: .8px !important;
    word-spacing: 1px !important;
    text-align: left;
    float:right;
}
.footer-info3 p {
    word-break: .8px !important;
    word-spacing: 1px !important;
    text-align:initial;
}
.footer-info3 p br {
    display:none;
    
}
.navbar-toggler {
    margin-bottom:10px;
    margin-top: -15px;
}
.footer-contact{
    text-align:center;
}
.footer-contact a {
    padding:5px;
}
.logoutbtn, .regbtn, .logbtn {
    margin-bottom:10px; 
}
.copy {
    text-align:center;
}

img.float-left {

    margin-left: 50%;

}

}